# Extract

### Import dependencies

In [1]:
# Import the various dependencies and setup
import os
import csv
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func
from config import username, password
pd.options.mode.chained_assignment = None

### Import CSV data into DataFrame

In [2]:
# Map the path where the input csv file is located
fires_csv_file = "Data/Fires on federal land from FOIA.csv"

# Specify the delimiter to read and store the csv file into a Pandas DataFrame
fires_df = pd.read_csv(fires_csv_file, encoding = "UTF-8")

# Display the DataFrame columns
fires_df.head(2)

,Date,State,Fire Name,Latitude,Longitude,Fire Cause
0,1/1/2013,North Dakota,Oxbow Overlook 13,47.602280,-103.434720,Natural /Other/ known
1,1/1/2013,North Dakota,Glacier 13,47.624939,-103.415214,Natural /Other/ known

In [3]:
# Display the shape of the dataframe
fires_df.shape

(29602, 6)

# Load

### Connect to local database

In [4]:
# Read the combined DataFrame in csv format prior to loading it in Postgres
csv_path = "Data/Fires on federal land from FOIA.csv"
fires_df = pd.read_csv(csv_path)
fires_df.head(2)

,Date,State,Fire Name,Latitude,Longitude,Fire Cause
0,1/1/2013,North Dakota,Oxbow Overlook 13,47.602280,-103.434720,Natural /Other/ known
1,1/1/2013,North Dakota,Glacier 13,47.624939,-103.415214,Natural /Other/ known

In [5]:
# Create Engine
engine = create_engine(f'postgresql+psycopg2://{username}:{password}@localhost:5432')
connection = engine.connect()

### Create new database

In [6]:
# Create new database
connection.execute('commit')
connection.execute('CREATE DATABASE fires_db')

### Use pandas to load csv converted DataFrame into database

In [7]:
# Create the engine and new DataBase
engine = create_engine(f'postgresql+psycopg2://{username}:{password}@localhost:5432/fires_db')
connection = engine.connect()

# new_customer_data_df.to_sql(name='customer_name', con=engine, if_exists='append', index=False)
fires_df.to_sql(name='fires', con=engine, if_exists='replace', index=False)