In [1]:
import pandas as pd

In [4]:
csv = pd.read_csv('Fires on federal land from FOIA.csv')
df = pd.DataFrame(csv)

In [5]:
df.head()

,Date,State,Fire Name,Latitude,Longitude,Fire_Cause
0,1/1/13,North Dakota,Oxbow Overlook 13,47.602280,-103.434720,Natural /Other/ known
1,1/1/13,North Dakota,Glacier 13,47.624939,-103.415214,Natural /Other/ known
2,1/1/13,Arizona,MIDDLE,33.077000,-111.759190,Human/Incendiary /Other/ unknown
3,1/1/13,South Dakota,BACKYARD,43.319200,-101.029400,Natural /Other/ unknown
4,1/2/13,California,Walters,33.313447,-114.862947,Human/Miscellaneous /Other/ unknown

In [7]:
df[['cause1', 'cause2','cause3','cause4',]] = df.Fire_Cause.str.split("/", expand = True)

In [8]:
df.to_csv('Fires_on_federal_land_from_FOIA_CLEANSED.csv', header = True, index = False)

In [9]:
df.head()

,Date,State,Fire Name,Latitude,Longitude,Fire_Cause,cause1,cause2,cause3,cause4
0,1/1/13,North Dakota,Oxbow Overlook 13,47.602280,-103.434720,Natural /Other/ known,Natural,Other,known,None
1,1/1/13,North Dakota,Glacier 13,47.624939,-103.415214,Natural /Other/ known,Natural,Other,known,None
2,1/1/13,Arizona,MIDDLE,33.077000,-111.759190,Human/Incendiary /Other/ unknown,Human,Incendiary,Other,unknown
3,1/1/13,South Dakota,BACKYARD,43.319200,-101.029400,Natural /Other/ unknown,Natural,Other,unknown,None
4,1/2/13,California,Walters,33.313447,-114.862947,Human/Miscellaneous /Other/ unknown,Human,Miscellaneous,Other,unknown